$red: rgb(219,91,80);
$cyan: rgb(54, 158, 187);
$blue: rgb(15, 146, 255);
$yellow: rgb(238,166,64);
$black: rgb(49,48,44);
$beige: rgb(255,220,175);
$green: rgb(94, 151, 50);
$lightblue: rgb(3,234,255);
$purple: rgb(88,42,114);

.jumbotron {
    width: 60%;
    margin: auto;
    padding: 2% 2%;
    background-color: $red;
    border-style: solid;
}

.container{
    width: 60%;
    margin: auto;
    padding: 2% 2%;
    border-style: solid;
    background-color: $green;
    text-align:center;
}

.well{
    border-style: solid;
    background-color: $cyan;
}

#div-join{
    background-color: $red;
}

.form-control{
    text-align:center;
}


body{
    margin-top: 4%;
    background-color: $beige;
}

#invalid-username-alert{
    background-color: $red;
}

.btn{
    background-color: $yellow;
}

.buttonDiv{
    text-align:center;
    border-style: none;
    padding: 0 0;
}

#div-game{
    text-align: center;
    margin:auto;
}

div + div{
    margin-top: 4%;

}

div + .container{
    margin-top: 4%;
}

.container + .container{
    margin-top: 4%;
}

canvas {
    display : block;
    margin : auto;
}

.form-control{
    display: inline-block;
    width:400px;
    text-align: center;
}